---
include:
  - template: Jobs/Secret-Detection.gitlab-ci.yml
  - template: Jobs/SAST.gitlab-ci.yml
  - template: Jobs/SAST-IaC.gitlab-ci.yml

image: golang:1.15

cache:
  paths:
    - /go/src/github.com
    - /go/src/golang.org
    - /go/src/google.golang.org

stages:
  - check
  - dep
  - vet
  - staticcheck
  - build
  - test

variables:
  GIT_DEPTH: 1

sast:
  stage: check

iac-sast:
  stage: check

kics-iac-sast:
  stage: check

secret_detection:
  stage: check

osv-scanner:
  allow_failure: true
  image: golang:latest
  stage: check
  before_script:
    - "go install github.com/google/osv-scanner/cmd/osv-scanner@latest"
  script:
    - 'PATH="${PATH}:$(go env GOPATH)/bin" osv-scanner -r .'
  timeout: 10 minutes

super-linter:
  image:
    name: ghcr.io/super-linter/super-linter:v8.2.1@sha256:6331793e23be44827ade3bfcd27c2c3f0870c663fb2b118db38035f4e59ab136
    entrypoint:
      - "" # Entrypoint is overridden by GitLab anyway
  stage: check
  variables:
    BIOME_CONFIG_PATH: .biome.json
    ENFORCE_COMMITLINT_CONFIGURATION_CHECK: "true"
    LINTER_RULES_PATH: "."
    RUN_LOCAL: "true"
    USE_FIND_ALGORITHM: "true"
    VALIDATE_ALL_CODEBASE: "true"
  before_script:
    - 'ln -s "$(pwd)" /tmp/lint'
  script:
    - "/action/lib/linter.sh"
  timeout: 10 minutes

dep:
  stage: dep
  script:
    - "make dep"
vet:
  stage: vet
  script:
    - "make vet"

staticcheck:
  stage: staticcheck
  script:
    - "make staticcheck"

build:
  stage: build
  script:
    - "make compile"

test:
  stage: test
  script:
    - "make test"
