---
name: Go Check Versions

on:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

permissions: {}

jobs:
  gomod-check-versions:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: "stable"
          check-latest: true
        id: go
      - name: Check the versions
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          output=$(make update 2>&1 | tee /dev/stderr)
          if echo "$output" | grep -q -e ' upgraded '; then
            exit 1
          fi
