---
name: Go

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

permissions: {}

jobs:
  go:
    name: Build with Go
    runs-on: ubuntu-latest
    steps:
      - name: Set REPOSITORY
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          echo "REPOSITORY=${GITHUB_REPOSITORY#*/}" >> "${GITHUB_ENV}"
      - name: Check out code into the Go module directory
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Set SOURCE_DATE_EPOCH
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          echo "SOURCE_DATE_EPOCH=$(git log -1 --pretty=%ct)" >> "${GITHUB_ENV}"
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "stable"
          check-latest: true
        id: go
      - name: Get dependencies
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          make dep
      - name: Vet
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          make vet
      - name: Static Check
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          make staticcheck
      - name: Build
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          make compile
      - name: Test
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          make test
      - name: Upload artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ env.REPOSITORY }}
          path: bin/
