---
name: Go Mod Check Versions

on:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

permissions: {}

jobs:
  gomod-check-versions:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "stable"
          check-latest: true
        id: go
      - name: Check the versions
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          if make upgrade | tee -a /dev/stderr | grep -q -e ' upgraded '; then
            exit 1
          fi
